<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">
      <a href="#">Username: {{ user.username }}</a>
    </li>
    <li class="list-group-item">
      <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %} {# Дуже важливо для POST-форм в Django! #}
        <button type="submit" class="btn btn-link">Logout</button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item">
      <a href="{% url 'login' %}">Login</a>
    </li>
  {% endif %}

  <br>
  <li class="list-group-item">
    <a href="{% url 'news:index' %}">Home</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'news:topics_list' %}">Topics</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'news:redactors_list' %}">Redactors</a>
  </li>
</ul>