{% extends 'base.html' %}

{% block title %}
  <title>News</title>
{% endblock %}

{% block content %}

  {% if newspapers %}
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>All news</h2>
      <a class="btn btn-primary" href="{% url 'news:news_create' %}">Create News</a>
    </div>
    <ul class="list-group mt-3">
      <form method="get">
        <input type="text" name="q" value="{{ q }}" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
      {% for newspaper in newspapers %}
        <li class="list-group-item">
          <a href="{% url 'news:news_detail' pk=newspaper.id %}">
            {{ newspaper.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-warning">
      No newspapers
    </div>

  {% endif %}
{% endblock %}