{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {% if topic.id %}Update Topic{% else %}Create Topic{% endif %}
{% endblock %}

{% block content %}
<h1>
  {% if topic.id %}Update Topic{% else %}Create Topic{% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary mt-2">
        {% if topic.id %}Update{% else %}Create{% endif %}
    </button>
    <a href="{% url 'news:topics_list' %}" class="btn btn-secondary mt-2">Cancel</a>
</form>
{% endblock %}
